.thread {
    display: flex;
    flex: 0.70;
    flex-direction: column;
    height: 100vh;
    background-color: #232D3A;
}

.thread__header {
    display: flex;
    border-bottom: 1px solid rgba(190, 190, 190, 0.1);
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.thread__header__contents {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    color: #fff !important;
    padding: 10px;
    align-items: center;
}

.thread__header__contents__info > h5 {
    font-weight: 500;
    color: gray;
    margin-left: 15px;
}

.thread__header__contents__info > h4 {
    margin-left: 15px;
}

.thread__header__details {
    color: #fff;
}

.thread__header__details:hover {
    color: rgba(1, 150, 199);
    transition: all 0.1s;
}
