.thread {
    display: flex;
    flex: 0.70;
    flex-direction: column;
    height: 100vh;
    background-color: #232D3A;
}

.thread__header {
    display: flex;
    border-bottom: 1px solid rgba(190, 190, 190, 0.1);
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.thread__header__contents {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    color: #fff !important;
    padding: 10px;
    align-items: center;
}

.thread__header__contents__info > h5 {
    font-weight: 500;
    color: gray;
    margin-left: 15px;
}

.thread__header__contents__info > h4 {
    margin-left: 15px;
}

.thread__header__details {
    color: #fff;
}

.thread__header__details:hover {
    color: rgba(1, 150, 199);
    transition: all 0.1s;
}

.thread__messages {
    flex: 1;
    overflow: scroll;
}

.thread__header::-webkit-scrollbar {
    display:  none;
}
.thread__input {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    border-top: 1px solid rgba(190, 190, 190, 0.1);
}

.thread__input > form {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.thread__input > form > input {
    width: 98%;
    outline-width: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 5px;
    color: white;
}

.thread__input > form > button {
    color: #2d4671;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px;
    font-size: 15px;
    margin-top: 4px;
    font-weight: bold;
    margin-left: 10px;
}

.thread__input > form > button:hover {
    color: rgba(190, 190, 190, 0.7);
    cursor: pointer;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    transition: all 0.2s;
    padding: 10px;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}